.main-about {
	.banner__wrap {
		min-height: 70rem;
		padding-bottom: 8rem;
		align-items: flex-end;
		justify-content: flex-start;
	}
	.banner__title {
		max-width: 100%;
		margin: 0;
		text-align: left;
	}
}
.about {
	background-color: $third-cl;
	position: relative;
}
.about__content-wrap {
	> b {
		display: inline-block;
		margin-bottom: 3rem;
	}
	> p {
		margin-bottom: 5rem;
	}
}
.about__list {
	.col {
		width: 25%;
	}
}
.about__img {
	margin-bottom: 2rem;
	img {
		width: 100%;
		height: auto;
		overflow: cover;
	}
}
.about__desc {
	> *:not(:last-child) {
		margin-bottom: 1.5rem;
	}
	.main-title {
		color: $text-black-cl;
		&:hover {
			color: $main-cl;
		}
	}
	div {
		span {
			display: inline-block;
			width: 3rem;
			height: 3rem;
			line-height: 3rem;
			border-radius: 100%;
			text-align: center;
			transition: $t1 ease;
			&:first-child {
				background-color: #2e78b6;
				margin-right: 1rem;
			}
			&:last-child {
				background-color: #923c19;
			}
			&:hover {
				box-shadow: 1rem 1rem 3rem rgba($color: $bg-black-cl, $alpha: 0.16);
			}
		}
		a {
			color: $text-white-cl;
		}
	}
}
@include max-media(500px) {
	.main-about {
		.banner__wrap {
			min-height: 50rem;
			padding-bottom: 4rem;
		}
	}
	.about__list {
		.col {
			width: 50%;
		}
	}
}
